<div class="modal" id="caixa-confirmacao">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title">Atenção</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div id="mensagem" class="modal-body">
        Você tem certeza que deseja apagar este produto?
      </div>    
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="sim-deletar">Sim</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
      </div>
    </div>
  </div>
</div>